.wrapper {
  height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, #aaa, transparent);
}

.example-card {
  width: 300px;
}

.example-header-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

form {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2fr 2fr 1fr ;
    /* grid-auto-rows: 1fr; */
    /* flex-direction: column; */
    /* flex-grow: 2; */
}
