.wrapper {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, #aaa, transparent);
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

mat-form-field {
  margin-right: 12px;
}
