<div class="wrapper">
  <mat-card class="example-card">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon>account_box</mat-icon>
      </div>
      <mat-card-title> {{title}} </mat-card-title>
      <mat-card-subtitle>Assignment</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
          <input matInput type="text" formControlName="firstName" [errorStateMatcher]="matcher" placeholder="First Name">
          <!-- <label>
            First Name:
          </label> -->
          <mat-error *ngIf="studentForm.get('firstName').errors ?.required">This input is required</mat-error>
          <mat-error *ngIf="studentForm.get('firstName').errors ?.maxlength">String can't exceed 35 Characters
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="lastName" [errorStateMatcher]="matcher" placeholder="Last Name">
          <!-- <label>
            Last Name:
          </label> -->
          <mat-error *ngIf="studentForm.get('lastName').errors ?.required">This input is required</mat-error>
          <mat-error *ngIf="studentForm.get('lastName').errors ?.maxlength">String can't exceed 35 Characters
          </mat-error>
        </mat-form-field>
        <re-captcha formControlName="recaptchaReactive"></re-captcha>
      </mat-card-content>
      <button mat-raised-button color="primary" [disabled]="!studentForm.valid" style="float: right;">Submit</button>
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <!-- <mat-card-actions>
        <div class="content">
          {{ studentForm.value | json }}
        </div>
      </mat-card-actions> -->
    </form>
  </mat-card>
</div>